# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# IDE
.idea/
.vscode/

# Jupyter / Notebooks
.ipynb_checkpoints/

# Mac / Windows
.DS_Store
Thumbs.db

# Output folders
/images/
/reports/